__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
.venv/
virtualenv/
venv.bak/


.vscode/
.idea/
*.swp
*.swo
*.swn
*~

.DS_Store
Thumbs.db
desktop.ini

*.log
logs/
log/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.ipynb_checkpoints/



# =========================
# Tests
# =========================
.tox/
.nox/

# =========================
# Cache / temp
# =========================
.cache/
.tmp/
.temp/
